@use "../../node_modules/modern-normalize/modern-normalize.css";

* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Segoe UI Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Regular'), url('Segoe UI.ttf') format('truetype');
}

@font-face {
	font-family: 'Segoe UI Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Italic'), url('Segoe UI Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Segoe UI Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Bold'), url('Segoe UI Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Segoe UI Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Bold Italic'), url('Segoe UI Bold Italic.ttf') format('truetype');
}

body {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

article {
	width: 21cm;
	height: 29.7cm;
	background-color: white;
	position: relative;
	page-break-before: always;
	page-break-after: always;
	display: flex;
	flex-direction: column;
	gap: 0.5cm;
	line-height: 1.3;
	font-size: 12px;
	font-family: "Segoe Regular", sans-serif;

	.page-title {
		padding-top: 0.25cm;
		text-align: center;
		text-transform: uppercase;
	}

	.page-number {
		position: absolute;
		padding-bottom: 0.25cm;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
	}

	section, footer, header {
		display: flex;
		gap: 0.5cm;
		padding: 0 0.5cm;

		.column {
			flex: 1 1 0%;
		}
	}

	section:first-child {
		padding-top: 0.5cm;
	}

	header:first-child {
		padding-top: 0.5cm;
	}

	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding-bottom: 1cm;
	}

	em {
		font-family: "Segoe UI Italic", sans-serif;
	}

	strong {
		font-family: "Segoe UI Bold", sans-serif;
		font-weight: normal;
	}

	em strong,
	strong em {
		font-family: "Segoe UI Bold Italic", sans-serif;
	}

	p {
		margin-bottom: 0.25cm;
		text-align: justify;
		text-wrap: pretty;

		&.left {
			text-align: left;
		}

		&.right {
			text-align: right;
		}

		&.center {
			text-align: center;
		}

		&:empty {
			margin-bottom: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:has(+ ul),
		&:has(+ ol) {
			margin-bottom: 0;
		}
	}

	h1,
	h2,
	h3 {
		font-size: 16px;
		font-family: "Segoe UI Bold", sans-serif;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 0.125cm;
		letter-spacing: 1px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h1 {
		font-size: 32px;
		text-align: center;
	}

	h2 {
		font-size: 24px;
		text-align: center;
	}

	h3 {
		margin-left: 0.5cm;
		font-family: "Segoe Regular", sans-serif;
	}

	ol {
		list-style: decimal;
	}

	ul {
		list-style: disc;
	}

	ol,
	ul {
		margin-left: 0.25cm;
		margin-bottom: 0.25cm;

		&:last-child {
			margin-bottom: 0;
		}
	}

	li {
		margin-bottom: 0.125cm;
		text-align: justify;

		&:last-child {
			margin-bottom: 0;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	img[height] {
		height: revert-layer;
	}
}

@media print {
	body {
		gap: 0;
	}
}
